.input-task {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.single-todo {
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
    margin: 5px;
    padding: 5px;
}

.single-todo__text {
    margin: 10px;
    padding: 10px;
    justify-content: left;
}

.single-todo__date {
    margin: 10px;
    padding: 10px;
    justify-content: right;
}